<!-- inherits from index.html -->
<html>
    <head>
        <title>{{ title }} - Play Rock Paper Scissors </title>
        <link rel="stylesheet" href="/static/style.css">
        <img src="/.static/images/rock-paper-scissor.jpeg" alt=""> 
    </head>
    <body>       
        <ul>
            <li><a href="/Rock_Paper_Scissors">Home</a></li>
        </ul>
        <hr> 
        {% block content %} 

    
        {% endblock %}
   
    </body>
</html>
           
           
<!-- correct setup of base.html -->
       
 