<html>
    <head>
        <title>{{ title }} - Play Rock Paper Scissors </title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Supermercado+One" rel="stylesheet">
        
    </head>

    <body>
        <header>
             
        <ul>
            <li> <a href="/rules">Home</a></li>
            <input type="text" class="search" placeholder="Search ..."> 
            <a href="#" class="gobutton">Go</a> 
        </ul>
    
    </header>
    <main>
         {% block content %} {% endblock %}           
    
         <img src="/static/images/rps.jpeg" alt="Cartoon of the game" class="Center">  
    </main> 


    </body>
    <footer>
        <p>© Special thanks to Annika</p>
        </footer> 
</html>
      
           
<!-- correct -->
       
 